[코딩](https://www.inflearn.com/course/%EC%BD%94%EB%A6%B0%EC%95%84-%EC%BD%94%EB%94%A9%ED%95%98%EC%9E%90-%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EA%B8%B0%EC%B4%88)

# 열린 사물함의 갯수 문제

In [ ]:
n = 100
lockers = [-1] * (n+1)
print(lockers)
for i in range(1, 101):
    lockers[i] = i
print(lockers)

[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
for N in range(1, 101):
    for j in range(N, 101, N):
        if (lockers[j] > 0):
            lockers[j] = 0
        else:
            lockers[j] = j

print(lockers)

[-1, 0, 2, 3, 0, 5, 6, 7, 8, 0, 10, 11, 12, 13, 14, 15, 0, 17, 18, 19, 20, 21, 22, 23, 24, 0, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 0, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 0, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 0, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 0, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 0]

In [ ]:
open_lockers = []
for i in lockers:
    if (i == 0):
        open_lockers.append(i)
print('열린 사물함의 갯수는: ',len(open_lockers))
print('열린 사물함은: ',open_lockers)

열린 사물함의 갯수는:  10
열린 사물함은:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# 에라토스테네스의 체

In [ ]:
import math

def isPrime2(n):
    for i in range(2, math.floor(math.sqrt(n)) +1):
        if (n % i ==0):
            return False
    return True

isPrime2(2)

True

In [ ]:
n = 100
sieve = [False, False] + [True] * (n-1)
print(sieve)
primes = []
for i in range(2,n+1):
    if (sieve[i]):
        primes.append(i)
    for j in range( i * 2, n+1, i):
        sieve[j] = False
print(sieve)
print(primes)
print(len(primes))

[False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]
[False, False, True, True, False, True, False, True, False, False, False, True, False, True, False, False, False, True, False, True, False, False, False, True, False, False, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, True, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False, False]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

#   천일 후에 만나자

In [ ]:
def leapyear(y):
    if ((y % 4 == 0 and y % 100 != 0)or y % 400 ==0):
        return True
    else:
        return False

def invalidaDay(year, m, d):
    numOfDays = 31
    if (m in [4,6,9,11]):
        numOfDays = 30
    if (m ==2):
        if(leapyear(year)):
            numOfDays =29
        else:
            numOfDays =28
    if (d > numOfDays):
        return True
    else:
        return False

In [ ]:
year = 2020
month = 7
day =9
n = 1000

for _ in range(n): 
    day += 1
    if (invalidaDay(year, month, day)):
        day = 1
        month +=1
        if(month>12):
            month = 1
            year+=1
print(year,month,day)

2023 4 5

In [ ]:
year = 2020
month = 7
day =9
n = 1000
import datetime
day = datetime.date(year, month, day)
theday = day + datetime.timedelta(n)
print(theday)

2023-04-05

# 단력 만들기

In [ ]:
year = 2020
month = 7
day_of_week = 3

print(year, '년',month,'월:')

weekdays = ['일','월','화','수','목','금','토']
#print(weekdays)
for day in weekdays:
    print(' ' ,day, end= ' ')

print()

for _ in range(day_of_week):
    print('    ',end = ' ')

def leapyear(y):
    if ((y % 4 == 0 and y % 100 != 0)or y % 400 ==0):
        return True
    else:
        return False

def dayOfMonth(y,m):
    numOfDays = 31
    if (m in [4,6,9,11]):
        numOfDays = 30
    if (m ==2):
        if(leapyear(year)):
            numOfDays =29
        else:
            numOfDays =28
    return numOfDays

numOfMonth= dayOfMonth(year,month)
for day in range(1, numOfMonth+1):
    if (day<10):
        print('  ',day, end=' ')
    else:
        print(' ',day, end=' ')
    if ((day_of_week + day) % 7 ==0):
        print()

print()

2020 년 7 월:
  일   월   화   수   목   금   토
                  1    2    3    4
   5    6    7    8    9   10   11
  12   13   14   15   16   17   18
  19   20   21   22   23   24   25
  26   27   28   29   30   31

In [ ]:
def dayOfTheWeek(y,m,d):
    t1 = y-(14-m) //12
    t2 = t1+(t1//4) - (t1//100) + (t1//400)
    t3 = m+12 *((14-m)//12)-2
    return (d+t2 +(31*t3 //12)) % 7

year = 2020
month = 7
day = 10
print(dayOfTheWeek(year,month,day))

5

In [ ]:
def printCalendar(y,m):
    numOfMonth = dayOfMonth(y,m)
    day_of_week = dayOfTheWeek(y,m,1)
    print(y,'년',m,'월:')

    for day in weekdays:
        print(' ',day,end=' ')
    print()

    
    for _ in range(day_of_week):
        print('    ',end = ' ')
        
    for day in range(1, numOfMonth+1):
        if (day<10):
            print('  ',day, end=' ')
        else:
            print(' ',day, end=' ')
        if ((day_of_week + day) % 7 ==0):
            print()
    print()
year= 2021
month = 7
printCalendar(year,month)

2021 년 7 월:
  일   월   화   수   목   금   토
                       1    2    3
   4    5    6    7    8    9   10
  11   12   13   14   15   16   17
  18   19   20   21   22   23   24
  25   26   27   28   29   30   31

# 콜라츠의 추측

In [ ]:
def collatz(n):
    seq = [n]
    while (n>1):
        if (n %2 ==0):
            n = n //2
        else:
            n = 3 * n +1
        seq.append(n)
    return seq

for n in range(1,10):
    print(collatz(n))

[1]
[2, 1]
[3, 10, 5, 16, 8, 4, 2, 1]
[4, 2, 1]
[5, 16, 8, 4, 2, 1]
[6, 3, 10, 5, 16, 8, 4, 2, 1]
[7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[8, 4, 2, 1]
[9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

In [ ]:
n = 0
while (True):
    n+=1
    halestone = collatz(n)
    if (len(halestone) ==100):
        break
print(halestone)
print('길이가 100인 가장 작은 우박수는 ',n)

[322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
길이가 100인 가장 작은 우박수는  322

# 로마에서 아라비아까지

In [ ]:
string ="MDCLXVI"

print(string[0])

M

In [ ]:
def getValueOf(symbol):
    if symbol == "M" : return 1000
    elif symbol == "D" : return 500
    elif symbol == "C" : return 100
    elif symbol == "L" : return 50
    elif symbol == "X" : return 10
    elif symbol == "V" : return 5
    elif symbol == "I" : return 1
roman = 'MDCLXVI'
for i in range(len(roman)):
    print(roman[i],":",getValueOf(roman[i]))

M : 1000
D : 500
C : 100
L : 50
X : 10
V : 5
I : 1

In [ ]:
roman = 'MDCLXVI'
arabic =0 
for i in range(len(roman)):
    value = getValueOf(roman[i])
    arabic += value
print(arabic)

1666

In [ ]:
romanDict = {"M":1000,"D":500,"C":100,"L":50,"X":10,"Y":5,"I":1}
def toArabicNumber(roman):
    arabic = 0
    for i in range(len(roman)):
        value = romanDict[roman[i]]
        if (i < (len(roman) -1 ) and value < romanDict[roman[i+1]] ):
            arabic -=value
        else:
            arabic += value
    return arabic

In [ ]:
romans = ['CCCLXIX','LXXX']
arabisc = []
for str in romans:
    arabisc.append(toArabicNumber(str))
print(arabisc)

[369, 80]

# 로마에서는 로마의 숫자를!

In [ ]:
romanDict = { 1:'I', 5:'V', 10:'X', 50:'L', 100:'C', 500:'D', 1000:'M' }
print(romanDict)
print(romanDict.keys())
print(romanDict.values())
print(romanDict.items())
for key in romanDict.keys():
    print(key, ':', romanDict[key])

{1: 'I', 5: 'V', 10: 'X', 50: 'L', 100: 'C', 500: 'D', 1000: 'M'}
dict_keys([1, 5, 10, 50, 100, 500, 1000])
dict_values(['I', 'V', 'X', 'L', 'C', 'D', 'M'])
dict_items([(1, 'I'), (5, 'V'), (10, 'X'), (50, 'L'), (100, 'C'), (500, 'D'), (1000, 'M')])
1 : I
5 : V
10 : X
50 : L
100 : C
500 : D
1000 : M

In [ ]:
def romanNumber1(n):
    str = ""
    while (n >= 1):
        if (n == 9):
            str += romanDict[1] + romanDict[10] # I, X
            n -= 9
        elif (n == 4):
            str += romanDict[1] + romanDict[5]
            n -= 4
        elif (n >= 5):
            str += romanDict[5] # v 
            n -= 5
        else:
            for _ in range(n):
                str += romanDict[1]
            n -= n
    return str

for n in range(1,10):
    print(n , ":", romanNumber1(n))

1 : I
2 : II
3 : III
4 : IV
5 : V
6 : VI
7 : VII
8 : VIII
9 : IX

# 스무고개를 넘어보자!

In [3]:
import random
answer = random.randint(1,1000)
start = 1
end = 1000
while(start < end):
    mid = (start + end) //2
    print(start, end, mid)
    if (mid < answer):
        start = mid +1
    else:
        end = mid
    
print(start, end, mid)

1 1000 500
501 1000 750
751 1000 875
876 1000 938
876 938 907
908 938 923
924 938 931
932 938 935
932 935 933
932 933 932
932 932 932