[코딩](https://www.inflearn.com/course/%EC%BD%94%EB%A6%B0%EC%95%84-%EC%BD%94%EB%94%A9%ED%95%98%EC%9E%90-%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EA%B8%B0%EC%B4%88)

# 열린 사물함의 갯수 문제

In [ ]:
n = 100
lockers = [-1] * (n+1)
print(lockers)
for i in range(1, 101):
    lockers[i] = i
print(lockers)

[-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
for N in range(1, 101):
    for j in range(N, 101, N):
        if (lockers[j] > 0):
            lockers[j] = 0
        else:
            lockers[j] = j

print(lockers)

[-1, 0, 2, 3, 0, 5, 6, 7, 8, 0, 10, 11, 12, 13, 14, 15, 0, 17, 18, 19, 20, 21, 22, 23, 24, 0, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 0, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 0, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 0, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 0, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 0]

In [ ]:
open_lockers = []
for i in lockers:
    if (i == 0):
        open_lockers.append(i)
print('열린 사물함의 갯수는: ',len(open_lockers))
print('열린 사물함은: ',open_lockers)

열린 사물함의 갯수는:  10
열린 사물함은:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# 에라토스테네스의 체

In [ ]:
import math

def isPrime2(n):
    for i in range(2, math.floor(math.sqrt(n)) +1):
        if (n % i ==0):
            return False
    return True

isPrime2(2)

True

In [ ]:
n = 100
sieve = [False, False] + [True] * (n-1)
print(sieve)
primes = []
for i in range(2,n+1):
    if (sieve[i]):
        primes.append(i)
    for j in range( i * 2, n+1, i):
        sieve[j] = False
print(sieve)
print(primes)
print(len(primes))

[False, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]
[False, False, True, True, False, True, False, True, False, False, False, True, False, True, False, False, False, True, False, True, False, False, False, True, False, False, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, True, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False, False]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

#   천일 후에 만나자

In [6]:
def leapyear(y):
    if ((y % 4 == 0 and y % 100 != 0)or y % 400 ==0):
        return True
    else:
        return False

def invalidaDay(year, m, d):
    numOfDays = 31
    if (m in [4,6,9,11]):
        numOfDays = 30
    if (m ==2):
        if(leapyear(year)):
            numOfDays =29
        else:
            numOfDays =28
    if (d > numOfDays):
        return True
    else:
        return False

In [ ]:
year = 2020
month = 7
day =9
n = 1000

for _ in range(n): 
    day += 1
    if (invalidaDay(year, month, day)):
        day = 1
        month +=1
        if(month>12):
            month = 1
            year+=1
print(year,month,day)

2023 4 5

In [ ]:
year = 2020
month = 7
day =9
n = 1000
import datetime
day = datetime.date(year, month, day)
theday = day + datetime.timedelta(n)
print(theday)

2023-04-05

# 단력 만들기

In [11]:
year = 2020
month = 7
day_of_week = 3

print(year, '년',month,'월:')

weekdays = ['일','월','화','수','목','금','토']
#print(weekdays)
for day in weekdays:
    print(' ' ,day, end= ' ')

print()

for _ in range(day_of_week):
    print('    ',end = ' ')

def leapyear(y):
    if ((y % 4 == 0 and y % 100 != 0)or y % 400 ==0):
        return True
    else:
        return False

def dayOfMonth(y,m):
    numOfDays = 31
    if (m in [4,6,9,11]):
        numOfDays = 30
    if (m ==2):
        if(leapyear(year)):
            numOfDays =29
        else:
            numOfDays =28
    return numOfDays

numOfMonth= dayOfMonth(year,month)
for day in range(1, numOfMonth+1):
    if (day<10):
        print('  ',day, end=' ')
    else:
        print(' ',day, end=' ')
    if ((day_of_week + day) % 7 ==0):
        print()

print()

2020 년 7 월:
  일   월   화   수   목   금   토
                  1    2    3    4
   5    6    7    8    9   10   11
  12   13   14   15   16   17   18
  19   20   21   22   23   24   25
  26   27   28   29   30   31

In [12]:
def dayOfTheWeek(y,m,d):
    t1 = y-(14-m) //12
    t2 = t1+(t1//4) - (t1//100) + (t1//400)
    t3 = m+12 *((14-m)//12)-2
    return (d+t2 +(31*t3 //12)) % 7

year = 2020
month = 7
day = 10
print(dayOfTheWeek(year,month,day))

5

In [24]:
def printCalendar(y,m):
    numOfMonth = dayOfMonth(y,m)
    day_of_week = dayOfTheWeek(y,m,1)
    print(y,'년',m,'월:')

    for day in weekdays:
        print(' ',day,end=' ')
    print()

    
    for _ in range(day_of_week):
        print('    ',end = ' ')
        
    for day in range(1, numOfMonth+1):
        if (day<10):
            print('  ',day, end=' ')
        else:
            print(' ',day, end=' ')
        if ((day_of_week + day) % 7 ==0):
            print()
    print()
year= 2021
month = 7
printCalendar(year,month)

2021 년 7 월:
  일   월   화   수   목   금   토
                       1    2    3
   4    5    6    7    8    9   10
  11   12   13   14   15   16   17
  18   19   20   21   22   23   24
  25   26   27   28   29   30   31